# Plan & Logic
logic.md
Task.md
task.md

# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Database
*.db
*.sqlite3

# OS specific
.DS_Store
Thumbs.db
Testing.md
failedTests.md
extraFeatures.md
designPrompt.md
