{{template "base" .}}

{{define "main"}}
    <h2>Latest Posts</h2>
    {{if .Posts}}
        <table>
            <tr>
                <th>Title</th>
                <th>Created</th>
                <th>Likes</th>
            </tr>
            {{range .Posts}}
            <tr>
                <td><a href='/post/view?id={{.ID}}'>{{.Title}}</a></td>
                <td>{{.CreatedAt}}</td>
                <td>{{.Likes}}</td>
            </tr>
            {{end}}
        </table>
    {{else}}
        <p>No posts to display...</p>
    {{end}}
{{end}}
